<h1>Welcome to the homepage for <%= @game.title %> for the <%= @game.platform %>!</h1>

<h2>Select a Review to view it!</h2>

<p><strong>Title: </strong><%= @game.title %></p>
<p><strong>Game Genre: </strong><%= @game.genre %></p>
<p><strong>Game Platform: </strong><%= @game.platform %></p>

<% if @game.reviews.empty? %>
  This game does not currently have any reviews.
<% else %>
  <ol>
    <% @game.reviews.each do |review| %>
      <li><%= link_to review.title, review_path(review) %>, Rating: <%= review.rating %>,  by <%= review.user.username %></li>
    <% end %>
  </ol>
<% end %>

<h2>Create a new review for this Game!</h2>
<%= link_to "New Review", new_game_review_path(@game) %>

<%= link_to "See Games", games_path %>