<h1>Reviews#index</h1>
<p>Find me in app/views/reviews/index.html.erb</p>

<%= link_to "Show #{current_user.username}'s Reviews", user_path(current_user) %>

<h1>Listing Your Reviews</h1>
<table>
  <thead>
    <tr>
      <th>Game Title</th>
      <th>Review Title</th>
      <th>Rating</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.game.title %></td>
        <td><%= review.title %></td>
        <td><%= review.rating %></td>
        <td>
          
            <%= link_to "Show #{review.game.title} Review", review_path(review) %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New Review", new_review_path %>