<h1>Listing Reviews</h1>
<table style="width:100%" align= 'center'>
  <thead align= 'center'>
    <tr>
      <th>Game Title</th>
      <th>Review Title</th>
      <th>Review Author</th>
      <th>Rating</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody align= 'center'>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.game.title %></td>
        <td><%= review.title %></td>
        <td><%= review.user.username %></td>
        <td><%= review.rating %></td>
        <td>
            <%= link_to "Show #{review.game.title} Review", review_path(review) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Review", games_path %>