<h1>Listing Popular Games</h1>
<table style="width:100%" align= 'center'>
  <thead align= 'center'>
    <tr>
      <th>Game Title</th>
      <th>pop Title</th>
      <th>pop Author</th>
      <th>Rating</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody align= 'center'>
    <% @popular.each do |pop| %>
      <tr>
        <td><%= pop.game.title %></td>
        <td><%= pop.title %></td>
        <td><%= pop.user.username %></td>
        <td><%= pop.rating %></td>
        <td>
            <%= link_to "Show #{pop.game.title}", game_path(pop.game) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Review", games_path %>