<h1><%= @review.game.title %></h1>

<h2> Rating: <%= @review.rating %></h2>

<h3><%= @review.title %></h3>

<p><%= @review.body %></p>

Made by: <%= @review.user.username %>

</br>
    <%= link_to "Update this review", edit_review_path %></br>
    <%= link_to "Delete this review", review_path, method: :delete %>



